@model JobFilterInput;

<link href="~/css/filterCard.css" rel="stylesheet" />
<div class="tCon">
    <form method="POST" class="filttercontainer">

        <div class="salary from-Group">
            <label class="text" id="rangeText" for="range"> Salary from @((ViewData["initFilter"] as JobFilter).salary?.Start) </label>
            <input asp-for="salary" class="input" id="range" type="range" name="salary" min="@((ViewData["initFilter"] as JobFilter).salary?.Start)" max="100000" value="@((ViewData["initFilter"] as JobFilter).salary?.Start)">
            
        </div>

        <div class="location from-Group">
            <label class="text" for="location"> Location</label>
            <input asp-for="location" class="input" id="location" name="location" type="text" placeholder="enter location">
        </div>

        <div class="date from-Group">
            <label class="text" for="date">Post Date From</label>
            <input asp-for="postDate" class="input" type="date" name="postDate" id="date" min="@((ViewData["initFilter"] as JobFilter).postDate.Value.ToString(" yyyy-MM-dd"))" defaultValue="@((ViewData["initFilter"] as JobFilter).postDate.Value.ToString(" yyyy-MM-dd"))">
            </div>

            <div class="skills from-Group">
     
                <label class="text" for="date">skills</label>
            @Html.DropDownList(
            "skills",
        ViewBag.selectSkillsList,
        "Select skill",
        new { @class = "input" })
            </div>

            <div class="foot">
                <button class="button reset" type="reset">
                    <img class="icon" src="~/img/Reset.svg" alt="" srcset="">
                </button>

                <button class="button submit" type="submit">
                    <img class="icon" src="~/img/Submit.svg" alt="" srcset="">
                </button>
            </div>

        </form>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $("#range").change(()=>{
            console.log("change")
            $("#rangeText").text("Salary from "+$("#range").val())

        })
    </script>