@model PostJob


<link href="~/css/jobCard.css" rel="stylesheet" />

<div class="cardContainer">

    <div class="head">

        <p class="title"> @Model.jobTitle </p>

        <div class="cip">
            <p class="type"> @Model.jobsTypes </p>
        </div>

        <div class="book">
            <a class="navbar-brand" href="@Url.Action("Book", "Job" , new { jobId=Model.jobId })">
                <img class="icon" src="~/img/Vector.svg" />
             </a>
         
        </div>
    </div>

    <div class="body">

        <div class="org">
            <img class="avatar" src="https://i.pravatar.cc/150?img=@Model.postBy.institutionId"/>
            <p class="name"> @Model.postBy.name </p>

            <div class="iconGroup">
                <img src="~/img/Vector-3.svg" class="icon" />
                <img src="~/img/Vector-2.svg" class="icon" />
            </div>

        </div>

        <div class="jobInfo">
            <p class="loc">
                @Model.location
            </p>
            <p class="pr">
                @Model.employmentType | @Model.jobSalary BIRR
            </p>
        </div>

    </div>

    <div class="foot">
        <p class="time">
            @Model.postDate.ToShortDateString()
        </p>
        <a class="go" href="@Url.Action("ApplyJob", "Job" , new { jobId=Model.jobId })">
            <img src="~/img/Vector-1.svg" class="icon" />
        </a>
    </div>

</div>