@model PostJob;

<link href="~/css/JobDetai.css" rel="stylesheet" />


<div class="JobDcontainer">

    @if ((ViewBag.orgFlag == null))
    {
        <div class="nav">
        <div class="navHade">
            <img src="https://i.pravatar.cc/150?img=@Model.postBy.institutionId" class="avater" />
            <p class="title">@Model.jobTitle</p>
        </div>

        <div class="icon-Group">
            <img src="~/img/Vector-3.svg" alt="Vector2941" class="icon" />
            <img src="~/img/Vector-2.svg" alt="Vector2941" class="icon" />
        </div>
    </div>
    } 
    
    @if ((ViewBag.orgFlag != null))
    { 
     <div class="nav">
        <div class="navHade">
                <img src="https://i.pravatar.cc/150?img=@((ViewBag.applicant as UserModel).Id.ToCharArray().Sum(x => x)%10)" class="avater" />
                <p class="title">@((ViewBag.applicant as UserModel).fullName)</p>
        </div>

        <div class="icon-Group">
            <img src="~/img/Vector-3.svg" alt="Vector2941" class="icon" />
            <img src="~/img/Vector-2.svg" alt="Vector2941" class="icon" />
        </div>
    </div>
    }



    <div class="main">

        @if ((ViewBag.orgFlag == null))
        {
            <div class="text-bolck">
                <div class="title">
                company name
            </div>

            <div class="text">
                @Model.postBy.name
            </div>
        </div>
        }

        <div class="text-bolck">
            <div class="title">
                Positon
            </div>

            <div class="text">
                @Model.jobDuties
            </div>
        </div>

        <div class="text-bolck">
            <div class="title">
                Location
            </div>

            <div class="text">
                @Model.location
            </div>
        </div>

        <div class="text-bolck">
            <div class="title">
                Salary
            </div>

            <div class="text">
                @Model.jobSalary BIRR
            </div>
        </div>

        <div class="text-bolck">
            <div class="title">
                Job Description
            </div>

            <div class="text">
                @Model.jobDescription
            </div>
        </div>

        <div class="text-bolck">
            <div class="title">
                Job Requirements
            </div>

            <li class="text list">
                @Model.jobRequirements
            </li>


        </div>

        <div class="text-bolck">
            <div class="title">
                employment Type
            </div>

            <div class="text">
                @Model.employmentType
            </div>
        </div>

        <div class="foot">
            @if (ViewBag.orgFlag != null && ViewBag.orgFlag == true)
            {
                <a href="@Url.Action("accept", "Organizions" , new { applicantId=ViewBag.applicantId })" class="btnn"> Accept </a>
            }else
            {
                @if (ViewBag.appledFlag == null || ViewBag.appledFlag != true)
            {
                    <a href="@Url.Action("ApplyJob", "Job" , new { jobId=Model.jobId })" class="btnn">Apply Now</a>

                }
            else
                {
                    <p class="btnn">
                        in Progress
                    </p>
                }
            }

        </div>

    </div>

</div>