@inject SignInManager<UserModel> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - freelancer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav class="tempNav navbar navbar-expand-sm navbar-toggleable-sm border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand Temptitle" asp-area="" asp-controller="Home" asp-action="Index">freelancer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@
                        
                    </ul>
                   @* @if(signInManager.IsSignedIn(User)){
                        <form method="post" asp-action="LogOut" asp-controller="Account">
                            <li class="nav-item ml-auto">
                                <button type="submit" class="nav-link text-dark" >LogOut</button>
                            </li>
                        </form>
                    }else{
                        <li class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>

                        <li class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogIn">LogIn</a>
                        </li>

                       
                    }*@
                    @if (signInManager.IsSignedIn(User) && (ViewData["doseUserHaveCollage"] != null && (bool)ViewData["doseUserHaveCollage"] == false))
                        {
                        <li class="nav-item ml-auto">
                            <a class="nav-link tempa" asp-area="" asp-controller="Account" asp-action="RegisterCollage">Register Your Collage</a>
                        </li>
                    }
                    
                   
                </div>
            </div>
        </nav>


    </header>
    <div class="container-fluid">
        <div class="row">
        <div class="col-3" style="margin-left:auto;">
                @if (IsSectionDefined("organizionsSideBar")) {
                    @RenderSection("organizionsSideBar")
                    ;
                }else{
                    @Html.Partial("_SideBar",await signInManager.UserManager.GetUserAsync(User))
                    ;
                }

                
        </div>
        <div class="col-4">
                <main role="main">
                    @RenderBody()
                </main>
        </div>
        <div class="col-3" style="margin-right:auto;">
                @if (IsSectionDefined("filtter"))
                {
                    @RenderSection("filtter")
                }
        </div>
        
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - freelancer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
