@model ApplicantsModel;

@{
    ViewBag.orgFlag = true;
}
@(ViewBag.applicantId = Model.ApplicatioID)
@(ViewBag.cvUploadLoc = Model.cvUploadLoc)
@(ViewBag.applicant = Model.applicant)


@Html.Partial("_JobDetail",Model.PostJob)

@section filtter {
    <div>

        <link href="~/css/site.css" rel="stylesheet" />

        <div id="ApplicantCardContainerTemp">
            <a class="downloadCv" href="@Url.Action("viewPdf", "Job" , new { pdfUrl=Model.cvUploadLoc })">Download Cv</a>
        </div>
        @Html.Partial("_collageCard",(Model.applicant) as UserModel);

    </div>
}
    @section ordSideBar{
    @Html.Partial("_OrganizionsSideBar",(ViewBag.organizion as Organizion));

}